*.class
*.classpath
*.project
.settings/
.gwt/

# Package Files #
*.jar
*.war
.gitignore

# gwt caches and compiled units #
war/gwt_bree/
war/WebStore
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

