.somestyle{
	display: inline-block;
	margin: 15px;
	border-color: silver;
	border: 1px solid #BBBBBB;
	padding: 5px;
}

.TopPanel {
	width:100%;
  	height: 50px;
  	background-color: blue;
}

.ProductLayout{
	display: inline;
	padding-right: 20px;
}

.Body {
  	width: 100%;
  	height: 600px;
}

.CornerPanel {
  	height: 1000px;
  	width: 100%;
  	background-color: white;
}

.MainPanel {
  	height: 1000px;
  	background-color: white;
}

.IndexLabel{
	width: 80px;
	height:50px;
	background-color: red;
}

.emptyCartLabel{
	padding: 20px;
	font: italic;
	border: 1px solid silver;
}

.imageLabel{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	color: silver;
}