.somestyle {
	display: inline-block;
	margin: 15px;
	border: 1px solid black;
	padding: 5px;
	background: white;
}

.TopPanel {
	width: 100%;
	height: 100px;
	background-color: teal;
	border: 1px solid black;
}

.ProductLayout {
	display: inline;
	padding-right: 20px;
}

.Body {
	width: 100%;
	height: 600px;
	background: -webkit-gradient(linear, left top, right bottom, from(#D6EBB5),
		to(white));
}

.CornerPanel {
	height: 1000px;
	width: 100%;
}

.MainPanel {
	height: 1000px;
	
	
}

.IndexLabel {
	width: 80px;
	height: 50px;
	background-color: red;
}

.emptyCartLabel {
	padding: 10px;
	font: italic;
}

.shoppingCart {
	padding: 10px;
	border: 1px solid silver;
}

.imageLabel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	color: silver;
}

.headerLabel {
	height: 100%;
	font-size: 72pt;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.userNameBox {
	top: 30px;
	right: 160px;
	width: 150px;
	height: 20px;
}

.userNameLabel {
	top: 0px;
	right: 307px;
}

.passwordBox {
	top: 30px;
	right: 0px;
	width: 160px;
	height: 20px;
}

.passwordLabel {
	top: 0px;
	right: 157px;
}
